:root {
  /* Core warm palette */
  --primary-color: #9550ef; /* Chocolate brown  #5d4037 */
  --hover-color: #3e2723; /* Dark chocolate */
  --highlight-color: #9550ef; /* Muted warm taupe for accents #8d6e63 */
  --success-color: #6d9c6d; /* Earthy green */
  --info-color: #a1887f; /* Warm gray/tan */

  --bg-light: #f3f0ed; /* Very soft beige */
  --card-bg: rgba(255, 255, 255, 0.8);
  --text-color: #2e2e2e;
  --muted-text: #777;

  --radius: 8px;

  --font-body: "Open Sans", Arial, sans-serif;
  --font-heading: "Montserrat", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  /* background-color: #fff; */
  background-image: url("./assets/backgroud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}
